<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="com.dxc.beans.Student" id="student"> 
    <property name="id" value="101"/>
    <property name="name" value="karthik"/>
    <property name="email" value="sai@gmail.com"/>
    <property name="mobile" value="43543545"/>
</bean>

<bean class="com.dxc.beans.Address" id="address">
<property name ="id" value="101"/>
<property name ="hno" value="SR-33"/>
<property name ="street" value="RK Street"/>
<property name ="city" value="Hyderabad"/>
</bean>

<bean class="com.dxc.beans.Person" id="person" autowire="constructor">
<property name="id" value="101" />
<property name="name" value="karthik" />
<property name="email" value="sai@gmail.com" />
<property name="mobile" value="63543463" />

</bean>


</beans>